.hero {
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  overflow-x: clip;
  /* background-color:red; */
}

.hero-container {
  width: 85%;
  margin-top: 3rem;
  display: flex;
}

.subtle {
  color: rgb(189, 187, 187)
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/*            left side             */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.left-hero {
  width: 40%;
  padding: 1rem;

  align-items: start;
  display: flex;
  flex-direction: column;
}

.profession {
  color: var(--primary);
  font-size: 1.25rem;
}

.hero-name {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  line-height: .8;
  font-size: 6rem;
}

.hero-cta {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
}

button.primary {
  font-size: 1rem;
  background: linear-gradient(to left, var(--primary), var(--primary-dark));
  border-radius: 9999px;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0px 2px 15px 0px rgba(250,145,46,0.9);
}

button.secondary {
  font-size: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(255, 255, 255, 0.05);
  border-radius: 9999px;
  backdrop-filter: blur(5px);
  padding: 1rem;
}

.info-container {
  padding-top: 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.info-card {
  background-color: rgba(10, 10, 10, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  padding: 1rem;
  width: 29%;
  box-shadow: 0 30px 60px rgba(0,0,0,0.4);
}

.info-card h2 {
  font-size: 1.5rem;
}



/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/*           right side             */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.right-hero {
  display: flex;
  width: 60%;
  padding: 0 2rem;

  align-items: center;
  display: flex;
  flex-direction: column;
  perspective: 1200px;
}

.computer {
  margin-top: 3rem;
  background-color: rgba(10, 10, 10, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.10);
  width: 720px;
  border-radius: 20px;
  z-index: 2;
  transform: perspective(1000px) rotateX(8deg) rotateY(-5deg) rotateZ(1deg);
  box-shadow: 0 30px 60px rgba(0,0,0,0.4);
}

.window-controls {
  padding: 0.9rem;
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.window-controls span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
}

.window-controls span:nth-of-type(1) {
  background-color: #FF605C;
}

.window-controls span:nth-of-type(2) {
  background-color: #FFBD44;
}

.window-controls span:nth-of-type(3) {
  background-color: #00CA4E;
}

code {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 1.1rem;
  color: white;
  padding: 0.25rem 1.75rem;
  margin-bottom: 1rem;
  display: block;
}

.computer::before {
  content: "";
  position: absolute;
  inset: 10px;

  background: radial-gradient(
    circle,
    var(--glow-warm),
    transparent 60%
  );

  filter: blur(80px);
  z-index: -1;
}

/* syntax colors */
.keyword { color: #569CD6; }
.variable { color: #4FC1FF; }  /* developer */
.property { color: #9CDCFE; }
.string { color: #CE9178; }
.brace { color: #FFD700; }
.bracket { color: #C586C0; }

@media (max-width: 1399px) {
  .computer {
    width: 600px;
  }

  code {
    font-size: 0.9rem;
  }
}

@media (max-width: 1199px) {
  .left-hero {
    width: 50%;
  }
  .right-hero {
    width: 50%;
  }

  .computer {
    width: 460px;
  }

  code {
    font-size: 0.7rem;
  }
}

@media  (max-width: 991px) {
  .hero-container {
    flex-direction: column-reverse;
    margin-top: 0rem;
    gap: 3rem;
  }

  .right-hero,
  .left-hero {
    width: 100%;
  }

  .right-hero {
    margin-top: 0;
  }

  .computer {
    width: 600px;
  }
  
  code {
    font-size: 0.9rem;
  }
}

/* md */
@media (max-width: 766px) {
  .computer {
    width:540px;
  }
  
  code {
    font-size: 0.8rem;
  }
}

@media (max-width: 575px) {
  .computer {
    width: 400px;
    margin: 0px;
  }
  
  code {
    font-size: 0.55rem;
    padding-left: 1rem;
  }
}

@media (max-width: 375px) {
  .computer {
    width: 300px;
    margin: 0px;
  }
  
  code {
    font-size: 0.45rem;
    padding-left: 1rem;
  }
}
